* {
  box-sizing: border-box;
}

.logo img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 40px;
}

.banner {
  background-color: #0d6efd;
}

.banner h1 {
  color: #fff;
  font-size: 14px;
}

.banner .row {
  display: flex;
  justify-content: space-around;
}

.col-1,
.col-2 {
  padding: 10px;
}

.col-1 h1 {
  font-size: 80px;
}

.col-1 .enroll {
  background-color: white;
  padding: 20px 40px 20px 40px;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  font-weight: bolder;
  font-size: 20px;
}

.col-1 .brochure {
  padding: 20px 40px 20px 40px;
  border: 1px solid #fff;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bolder;
  margin-left: 30px;
  font-size: 20px;
}

.col-2 img {
  width: 450px;
  height: auto;
}

.about {
  margin-top: 30px;
}

.about h1 {
  text-align: center;
  color: #082a5e;
  font-size: 40px;
  font-family: sans-serif;
}

.about p {
  font-size: 21px;
  font-family: cursive;
  text-align: center;
}

.card {
  margin-top: 50px;
}

.card h1 {
  text-align: center;
  color: #082a5e;
  font-size: 40px;
  font-family: sans-serif;
}

.card .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: auto;
}

@media (max-width: 576px) {
  .card .row {
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
  }
}

.card .col {
  border: 1px solid grey;
  border-radius: 10px;
  width: calc(33.33% - 20px);
  padding: 20px;
  text-align: center;
  background: linear-gradient(to bottom, #ffffff, #d9e6fa);
  display: flex;
  flex-direction: column;
}

.card h1 {
  text-align: center;
}

.card .heading {
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  color: #082a5e;
  padding: 0x 10px;
  margin-bottom: 20px;
}

.card a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  background-color: #0d6efd;
  padding: 15px 100px 15px 100px;
  border-radius: 10px;
  font-size: 16px;
  font-family: cursive;
  margin-top: auto;
  display: inline-block;
}

.card .grid {
  display: grid;
  grid-template-columns: 1fr;
}
