.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  gap: 10px;
  justify-content: center;
  padding: 100px;
}

.grid-container div {
  padding: 20px 10px;
  border: 1px solid white;
}

.grid1 {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  gap: 5px;
  justify-content: center;
  padding: 0px;
}

.grid1 div {
  padding: 30px;
  border: 1px solid white;
}

.grid2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  justify-content: center;
  padding: 10px;
}

.grid2 div {
  padding: 30px;
  border: 1px solid white;
}

.grid2-1 {
  grid-column: 1 / 3;
}

.grid2-2 {
  grid-row: 1 / 3;
  grid-column: 3 / 5;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  justify-content: center;
  padding: 10px;
}

.grid3 div {
  padding: 30px;
  border: 1px solid white;
}

.grid3-1 {
  grid-column: 1 / 4;
}

.grid3-2 {
  grid-column: 1 / 2;
}

.grid3-3 {
  grid-column: 2/4;
}

.grid3-4 {
  grid-column: 1/4;
}

.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  justify-content: center;
  padding: 10px;
}

.grid4 div {
  padding: 30px;
  border: 1px solid white;
}

.grid4-1 {
  grid-column: 1/3;
}

.grid4-2 {
  grid-column: 3/4;
}

.grid4-3 {
  grid-column: 1/2;
}

.grid4-4 {
  grid-column: 2/4;
}

.grid4-5 {
  grid-column: 1/4;
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  justify-content: center;
  padding: 10px;
}

.grid5 div {
  padding: 30px;
  border: 1px solid white;
}

.grid6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  justify-content: center;
  padding: 10px;
}

.grid6 div {
  padding: 30px;
  border: 1px solid white;
}

.grid6-1 {
  grid-column: 1/3;
}

.grid7 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 10px;
}

.grid7 div {
  padding: 30px;
  border: 1px solid white;
}

.grid7-3 {
  grid-row: 2/4;
}

.grid7-4 {
  grid-row: 2/4;
}

.grid7-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 5px;
}

.grid7-4-1 {
  grid-column: 1/3;
}

.grid8 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  padding: 10px;
}

.grid8-8 {
  grid-column: 3/6;
}

.grid8-9 {
  grid-column: 1/6;
}

.grid9 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  padding: 10px;
}

.grid9-1 {
  grid-column: 1/4;
}

.grid9-2 {
  grid-row: 2/3;
  grid-column: 1/2;
}

.grid9-3 {
  grid-column: 2/4;
}
.grid9-4 {
  grid-column: 2/3;
}
